@charset "utf-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.section-cs{
  background-color: dimgray;
  margin-top: 15px;
  margin-bottom: 15px;
}